.container{
    padding: 40px 0;
}

.login__form{
    width: 590px;
    margin: 0 auto;
    text-align: center;
    padding: 48px 30px 56px;
    background-color: #fdf6fa;

}
.login__login{
    font-weight: 400;
    color: #000;
}
.login__title{
    font-weight: 500;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
}
.login_text_block{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.login_text_block span{
    /*font-family: 'Geometria';*/
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    text-align: center;
    color: #E44897;
    max-width: 386px;
}