.card {
    position: relative;
}

.error-bg {
    position: absolute;
    z-index: -1;
    left: 57px;
}
.cart__text {
    margin-left: 262px;
    margin-top: 39px;
    padding-top: 56px;
    margin-bottom: 278px;
    width: 645px;
}
.btn{
    text-decoration: none;
    margin-top: 35px;
    display: inline-block;
    text-align: center;
    padding: 24px 48px;
    font-size: 24px;
    transition: .5s all;
    line-height: 100%;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #e44897;
    letter-spacing: .02em;

}